<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Crewing</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/authFormStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layoutStyle.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="fullsizebar" id="headerbar">
            <div id="crewingsign">
                <a asp-controller="Home" asp-action="Index"><h1>Crewing: Search and find</h1></a>
                @if(User.Identity!.IsAuthenticated)
                {
                    <h2>@User.Claims.FirstOrDefault(c => c.Type.Contains("role"))!.Value</h2>
                }
            </div>
            <div id="centerdiv">
                <ul class="horizontallist">
                    <li><a asp-controller="Vacancy" asp-action="Preview">Vacancies</a></li>
                    <li><a asp-controller="Employer" asp-action="Preview">Companies</a></li>
                </ul>
            </div>
            @if(User.Identity!.IsAuthenticated)
            {
                <ul class="horizontallist">
                    <li><a asp-controller="Account" asp-action="Profile">@User.Identity.Name</a></li>
                    <li><a asp-controller="Account" asp-action="Logout">Logout</a></li>
                </ul>
            }
            else
            {
                <ul class="horizontallist">
                    <li><a asp-controller="Account" asp-action="Login">Login</a></li>
                    <li><a asp-controller="Account" asp-action="ClientRegister">Register</a></li>
                </ul>
            }
        </div>
    </header>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer class="fullsizebar" id="footerbar">
        <div>
            &copy; 2022 - Crewing - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
