@{
    ViewData["Title"] = "Home Page";
}

<div class="homepagetitle">
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, fuga?</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique labore impedit, quia fuga dolores facere ipsam sequi dignissimos tempore dolor unde accusamus aliquam soluta eligendi expedita harum velit quisquam. Ad voluptatem porro, deserunt accusantium aut cumque natus dolor eos quidem dolorum repellendus quibusdam dignissimos quo! Maiores provident omnis itaque excepturi deleniti dicta adipisci nemo recusandae fugit! Beatae commodi amet ex neque minima quidem excepturi, quisquam exercitationem quae obcaecati aperiam animi iure cum dicta consectetur, laboriosam ea voluptates in quasi veniam unde recusandae maiores sint. Explicabo ratione voluptatem excepturi totam deserunt? Ea animi qui quas minima commodi quam quisquam dignissimos eum.</p>
</div>
<div class="homepagetitle">
    <h1>Lorem ipsum dolor sit amet.</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus soluta exercitationem illo eligendi cum ea debitis reprehenderit! Similique quia minima at necessitatibus illo perferendis error, beatae neque aperiam aliquam! Totam ex exercitationem atque itaque tempora reprehenderit debitis qui suscipit dicta cupiditate vero eum temporibus libero necessitatibus magnam fugit quibusdam, aspernatur rerum excepturi nesciunt cum quaerat eos quo corrupti! Cumque quisquam alias dolores sed sapiente ullam?</p>
</div>