@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi tempora, minima laborum architecto laudantium doloribus et, voluptatum id, tenetur ea praesentium! Aut fugiat consequatur at modi ut, labore perferendis tempora veniam eligendi deleniti illo amet, dolorem, repellendus veritatis debitis nihil fugit necessitatibus velit sit culpa quaerat odio sint natus! Nam, nisi consequuntur fugiat natus incidunt commodi iusto voluptates ipsa quia consequatur alias recusandae laborum eligendi earum ut dignissimos expedita placeat hic totam aspernatur. Eaque adipisci corrupti quae, sunt maiores repellendus laborum atque harum quo minus voluptatum maxime necessitatibus explicabo totam iure esse natus, labore ducimus amet consectetur at! Maxime, asperiores.</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam quia quis velit eveniet ea dignissimos laboriosam tempora impedit atque fugit eos iste, consequuntur voluptatem optio praesentium quam ducimus? Recusandae vel minima, ipsum atque necessitatibus dolores!</p>
