form
{
    width: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    text-align: center;
    color: black;
}

form > *:not(.hint):not(input[type=tel]):not(:last-child):not(button)
{
    margin-top: 0;
    margin-bottom: 25px;
}

form .hint
{
    color: grey;
    font-size: 15px;
    margin: 0;
}

form input[type=text],
form input[type=tel],
form input[type=password],
form input[type=email]
{
    width: 250px;
}

input, textarea
{
    font-size: 17px;
    border: 0;
    border-bottom: 2px rgb(50, 50, 50) solid;
    background-color: rgba(0, 0, 0, 0);
}

textarea
{
    width: 80%;
    border: 1px rgb(50, 50, 50) solid;
}

.validation-summary-errors
{
    color: red;
}

.formcontainer
{
    position: absolute;
    top: calc(50% - 350px);
    left: calc(50% - 175px);
    margin: 0 auto;
    background-color: rgb(221, 221, 221);
    border-radius: 20px;
    width: 350px;
}

.windowswitcher
{
    display: flex;
}

.windowswitcher a
{
    margin: 0;
    padding: 5px 10px;
    color: black;
    text-align: center;
    width: 50%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 0;
    border: 2px solid;
}

.windowswitcher a:hover
{
    background-color: rgb(75, 75, 75);
    color: white;
}

.windowswitcher a:first-child
{
    border-top-left-radius: 20px;
    border-bottom: 2px solid;
}

.windowswitcher a:first-child:hover
{
    border-top: 1px solid;
    border-left: 1px solid;
}

.windowswitcher a:last-child
{
    border-top-right-radius: 20px;
    border-bottom: 2px solid;
}
